.error{
    background-color: #C1121F;
    color: #FAFAFF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: hideMe 10s forwards;
}

.success{
    background-color: #709775;
    color: #FAFAFF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: hideMe 10s forwards;
}

@keyframes hideMe{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}