.error{
    background-color: #C1121F;
    color: #FAFAFF;
    border-radius: 5px;
    transition: opacity 0.6s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.closebtn {
    background-color: #C1121F;
    border: none;
    color: #FAFAFF;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}