.containerNavComponents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFF;  
    border-radius: 25px;
    padding: 2%;
    margin: auto;
    margin-top: 2%;
    width: fit-content;
    height: fit-content;
}

.containerMantenimiento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAFAFF;  
    border-radius: 25px;
    padding: 3%;
    margin: auto;
    margin-top: 2%;
    min-width: 900px;
    height: fit-content;
}

.containerDelete{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    border-radius: 15px;
    background-color: #EEF0F2;
    color: #595959;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
    margin-right: 5px;
    margin-top: 2%;
    width: 400px;
    word-break: break-all;
    height: fit-content;
}

.saludo{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align:end;
    color: #595959;
    padding-right: 20px;
    padding-left: 10px;
}

.fcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radios{
    background-color: red;
    font: red;
}

.buttonMant{
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 2px transparent;
    border-radius: 20px;
    padding: 2%;
    justify-content: center;
    background-color: #003049;
    color: #FAFAFF;
    cursor: pointer;
}

.buttonMant:hover{
    background-color: #669BBC;
}

.add{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px transparent;
    border-radius: 10px;
    padding: 4%;
    background-color: #709775;
    color: #FAFAFF;
    cursor: pointer;
    margin-left: 5px;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px transparent;
    border-radius: 10px;
    padding: 2%;
    background-color: #709775;
    color: #FAFAFF;
    cursor: pointer;
    width: 70px;
    height: 40px;
}

.remove{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px transparent;
    border-radius: 10px;
    padding: 2%;
    background-color: #C1121F;
    color: #FAFAFF;
    cursor: pointer;
    margin-left: 5px;
    width: 70px;
    height: 40px;
}

.add:hover, .remove:hover, .buscar:hover{
    background-color: #003049;
}